@media only screen and (max-width: 480px) {

   nav.horizontal a {
      font-size: 1.5em;
      line-height: 2.2em;
   }   
 
   aside {
      display: none;
   } 
   
}

/* ================================
   Tablet Styles: 481px and greater
   ================================
*/
@media only screen and (min-width: 481px) {

   ul.mainmenu > li {
      float: left;
      position: relative;
      width: 20%;
   }

   ul.submenu {
      box-shadow: rgb(51, 51, 51) 5px 5px 15px;
      position: absolute;
      width: 200%;
   }
}

/* =================================
   Desktop Styles: 769px and greater
   =================================
*/
@media only screen and (min-width: 769px) {

   ul.submenu {
      background: transparent;
      box-shadow: none;
      display: block;
      position: relative;
      width: 100%;
   }
   
   nav.horizontal::after {
      clear: both;
      content: "";
      display: table;
   } 
   
   nav.horizontal a.submenuTitle {
      display: none;
   }  
   
   article {
      float: left;
      margin-right: 5%;
      width: 55%;
   }
   aside {
      float: left;
      width: 40%;
   }   
}

